<nav class="green darken-1">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo" style="padding-left: 15px">Scouting</a>
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#"><i id="circle" class='fas fa-circle offline' style="font-size: 10px;"></i> <span
                        id="onlineoffline">Offline</span></a></li>
            <li><a href="/">Add Team</a></li>
            <li><a href="/addMatch">Add match</a></li>
            <li><a href="/viewTeams">View Teams</a></li>
            <li><a href="/viewMatch">View Matches</a></li>
            <li><a href="/predictMatch">Predict Match</a></li>
        </ul>
        <ul class="side-nav" id="mobile">
            <li><a href="/">Add Team</a></li>
            <li><a href="/addMatch">Add match</a></li>
            <li><a href="/viewTeams">View Teams</a></li>
            <li><a href="/viewMatch">View Matches</a></li>
            <li><a href="/predictMatch">Predict Match</a></li>
            <li><a href="#"><i id="mobilecircle" class='fas fa-circle offline' style="font-size: 10px;"></i> <span
                        id="mobileonlineoffline">Offline</span></a></li>
        </ul>
    </div>
</nav>