<!DOCTYPE html>
<html>

<head>
  {{>head}}
  <title>Express Stuff</title>

</head>

<body>
  {{>navbar}}
  {{{body}}}


</body>

<script src="http://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="/js/custom.js"></script>

</html>