<div class="viewteams">
    <table class="highlight">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>OPR</th>
            </tr>
        </thead>
        <tbody id="teamsTable"></tbody>
    </table>
</div>

<div id="teamModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Team <span id="teamModalNumber">Loading...</span></h4>
        <h5><span id="teamModalName">Loading...</span></h5>

        <h8>*Note the number outside of the parentheses is the score and inside is the raw data</h2><br>
            <strong>OPR:</strong>
            <ul class="browser-default" style="margin-top: 5px;">
                <li>Overall: <span id="oprOverall">N/A</span></li>
                <li>Autonomous: <span id="oprAuto">N/A</span></li>
                <li>Teleop: <span id="oprTele">N/A</span></li>
                <li>Endgame: <span id="oprEnd">N/A</span></li>
            </ul>
            <strong>Autonomous:</strong>
            <ul class="browser-default" style="margin-top: 5px;">
                <li>Overall: <span id="autoOverall">N/A</span></li>
                <li>Skystone: <span id="autoSkystone">N/A</span></li>
                <li>Skystone Displacement Method: <span id="autoSkystoneDisplacement">N/A</span></li>
                <li>Foundation: <span id="autoFoundation">N/A</span></li>
                <li>Parking: <span id="autoParking">N/A</span></li>
            </ul>
            <strong>TeleOp:</strong>
            <ul class="browser-default" style="margin-top: 5px;">
                <!--<li>Max Score Only Delivering: <span id="teleOnlyDeliver">N/A</span></li> -->
                <li>Score for Stacking Without Skyscraper Bonus: <span id="teleDeliverAndStack">N/A</span></li>
                <li>Tallet SkyScraper: <span id="teleSkyscraper">N/A</span></li>
                <li>Final Delivering Only Score: <span id="teleDeliver">N/A</span></li>
                <li>Stacking Score Including Skyscraper: <span id="teleStack">N/A</span></li>
            </ul>

            <strong>Endgame:</strong>
            <ul class="browser-default" style="margin-top: 5px;">
                <li>Can Cap: <span id="endCapstone">N/A</span></li>
                <li>Tallet SkyScraper With Capstone: <span id="endCapstoneScore">N/A</span></li>
                <li>Can Move Foundation <span id="endFoundationScore">N/A</span></li>

            </ul>

            <strong>Final Score:</strong>
            <ul class="browser-default" style="margin-top: 5px;">
                <li>Score: <span id="finalScore">N/A</span></li>
            </ul>
    </div>

    <div class="modal-footer">
        <a href="#" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<script src="/js/viewTeams.js"></script>
