  <div class="viewmatch">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Red Teams</th>
          <th>Blue Teams</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody id="match_list"></tbody>
    </table>
  </div>