<div class="viewmatch">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Red Teams</th>
        <th>Blue Teams</th>
        <th>Score <button id="matchScrape">Web Scrape Matches</button></th>
      </tr>

    </thead>
    <tbody id="match_list"></tbody>
  </table>
</div>

<script src="/js/viewMatch.js"></script>
